body {
    direction: rtl;
}

#log {
    position: absolute;
    z-index: 10000;
    bottom: 10px;
    left: 10px;
    font-family: consolas, monospace;
    direction: ltr;
    background: #e299ff;
    border: 1px solid black;
    opacity: 0.6;
}
#log .log {
    max-width: 600px;
    max-height: 300px;

    overflow-x: hidden;
    overflow-y: auto;
}
#log div {
    border-top: 1px solid #885c99;
    overflow-x: auto;
}
#log span {
    display: inline-block;
}

#log.log-hidden {
    width: 28px;
    height: 28px;
}
#log.log-hidden .log {
    display: none;
}

#log .show-hide-log {
    display: block;
    position: absolute;
    left: 1px;
    bottom: 1px;
    width: 24px;
    height: 24px;

    font-size: 18px;
    text-align: center;
    color: white;
    background: black;

    pointer-events: all;
}

.no-close .ui-dialog-titlebar-close {
    display: none;
}

.content {
    display: block;
    width: 90%;
    margin: auto;
    border: 1px solid black;
    padding: 10px;
    background-color: #f8e5ff;
}
.content ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.content > .actions {
    display: block;
}
.content > .actions > div {
    margin: 2px 0 7px 0;
}
.content > .actions > div > * {
    display: inline-block;
}
.content > .actions .search {
    width: 200px;
}
.total-row {
    margin-bottom: 5px;
}
.content > .file-list > li {
    margin-top: 5px;
}

.actions .btn {
    cursor: pointer;
    background-color: #f8e5ff;
    border: 1px solid black;
}

.item .modal-dialog, .item .modal-content, .item .modal-body {
    width: 100%;
    height: 100%;
}
.item .viewUrl {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 65%;
    border: none;
}
.item .viewUrl img {
    max-width: 100%;
    max-height: 100%;
}
.item .viewUrl embed, .item .viewUrl iframe {
    width: 100%;
    height: 100%;
}

.item .data {
    position: absolute;
    top: 0;
    left: 65%;
    bottom: 0;
    right: 0;
    border-left: 3px double #885c99;
    padding: 7px;
}
.item .data .control {
    margin: 4px 0;
}

.reports .viewer .modal-dialog, .reports .viewer .modal-content, .reports .viewer .modal-body, .reports .viewer .report-selection, .reports .viewer .graph {
    width: 100%;
    height: 100%;
}

.drive-errors {
    display: none;
    direction: ltr;
    position: fixed;
    z-index: 2000;
    top: 10px;
    left: 50%;
    width: 600px;
    margin-left: -300px;
}

input[type=number] {
    direction: ltr;
    text-align: right;
}
